[General]
SessionId = xxx
AccountName = xxx
LeagueName = standard

[Stash]
DumpTabIndex = 0
DumpTabQuad = true

[Display]
DefaultHighlightBorder = 0xff1aff1a

[Bindings]
ChaosRecipe = +!c
Search = +!s
